img{
  max-width: 100%;
  height: auto;
}

button.with-google {
  width: 240px;
  border: navajowhite;
  background-color: #e5b831;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
}